extends ./layout.pug

block content
    - var data = data;
    #user_info.conatiner
        .row
            .col-2
                h6 Name
                span=data[0].fname + " " + data[0].lname
        br
        .row
            .col-2 
                h6 Institution
                span= data[0].instn
            .col-2
                h6 Position
                span= data[0].posn
            .col-2 
                h6 Employee ID
                span= data[0].empID
        br
        .row
            .col-3
                h6 Email Address 
                span= data[0].email
            .col-3
                h6 Phone Number
                span= data[0].phn
    h3#sub_title Edit Account


    form#information(action='/user/account' method='post' enctype="application/x-www-form-urlencoded")
        .row.mb-1
            .col-3
                label(for='fname') First Name:
                input.form-control(type='text' placeholder=data[0].fname name='fname' required)
            .col-3
                label(for='lname') Last Name:
                input.form-control(type='text' placeholder=data[0].lname name='lname' required)
        br
        .row.mb-1
            .col
                label(for='instn') Institution:
                select.form-control(name='instn' required)
                    option(value="Fimon Fraser University") Fimon Fraser University
                    option(value="GcGill University") GcGill University
                    option(value="University of Roronto") University of Roronto
            .col
                label(for='posn') Position:
                select.form-control(name='posn' required)
                    option(value="Doctor") Doctor
                    option(value="Nurse") Nurse
                    option(value="Student") Student
            .col-3
                label(for='empID') Employee ID:
                input.form-control(type='number' placeholder=data[0].empID name='empID' required)
        br
        .row.mb-1
            .col-3
                label(for='email') Email Address:
                input.form-control(type='email' placeholder=data[0].email name='email' required)
            .col-3
                label(for='phn') Phone Number:
                input.form-control(type='tel' placeholder=data[0].phn name='phn' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required)
        .col-2.mt-4
            button#formbtn.btn.mb-2(type='submit') Submit
