extends ./layout.pug
block content
    - var data = data;
    #p_directory.conatiner
        .row
            .col-8
                h6 Lorem Ipsum Dolor
                p Search for patients by lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt exercitationem quibusdam magni nostrum, reiciendis fugit consequatur a tempora velit autem voluptatum ab sequi nulla, similique tenetur accusantium. Cum, ratione veritatis?
        br
        .row.mb-4
            .col-2
                label(for='pname') Search by Last Name
                input#nameSearch.form-control(type='text' placeholder='Name' name='pname')
        .row.mb-4
            .col-2
                label(for='pid') Search by ID Number
                input#idSearch.form-control(type='text' placeholder='ID' name='pid')
        br
        
        .row.mb-4
            .col
                table.table.table-hover
                    thead
                        //align="center"
                        tr 
                            th ID Number
                            th First Name
                            th Last Name
                            th Date of Birth 
                            th Sex 
                            th Gender  
                            th Highest Level of Education
                            th E.S.L
                            th Language Validity 
                            th Axis I Diagnosis 
                            th Medicated (Antipsychotic)
                            th Clinician ID Number
                    tbody
                        each val in data
                            tr.info
                                -var id = val._id.toString()
                                td.id
                                    span= id.slice(0,12) 
                                    br
                                    span= id.slice(13)
                                td= val.fname
                                td.name= val.lname
                                - var date = new Date(val.dob).toLocaleString("en-US", {timeZone: "UTC"}).toString()
                                - var comma = date.indexOf(',')
                                td= date.slice(0,comma)
                                td= val.sex 
                                td= val.gen
                                if val.edu == 18
                                    td= 'Graduate Studies'
                                if val.edu == 16 
                                    td= 'Undergraduate Studies'
                                if val.edu == 14 
                                    td= 'Associates Degree/Diploma'
                                if val.edu == 12 
                                    td= 'High School'
                                if val.edu == 11 
                                    td= 'Grade 11'
                                if val.edu == 10 
                                    td= 'Grade 10'
                                if val.edu == 9 
                                    td= 'Grade 9'
                                if val.edu == 8
                                    td= 'Grade 8'
                                if val.edu == 7 
                                    td= 'Under Grade 8'
                                if val.esl == true
                                    td= 'Yes'
                                if val.esl == false
                                    td= 'No'
                                if val.langv == true
                                    td= 'Yes'
                                if val.langv == false
                                    td= 'No'
                                td= val.diag
                                if val.meds == true
                                    td= 'Yes'
                                if val.meds == false
                                td
                                    span= id.slice(0,12) 
                                    br
                                    span= id.slice(13)
                        tr
                            td test data
                             //will contain the test/questionnaire results and notes from patient profile